<section>
    <h1>Activities</h1>
    <p class="well well-default">
        <span class="pull-right icon-wedding-surfer"></span>
        We'll be in Waihi Beach from the Thursday arvo til Sunday.
        It would be great if you can stay around for the weekend, as we realise alot of you are travelling 
        a long distance to help celebrate our day with us, so we want to be able to catchup properly.
    </p>
    <div class="row">
        <div class="col-lg-6">
            <h2>Thursday</h2>
            <p>
                For those that are around on Thursday night, we will be heading down to the Waihi Beach Hotel 
                (pub) at 60 Wilson Road for a few brews from 8pm.
            </p>
            <h2>Friday</h2>
            <p>
                Saying I do (Ceremony starts at 3pm). 
            </p>
            <p>
                There will be drinks and nibbles at the beach after the ceremony. We will head to reception at around 5:30.
            </p>
            <h2>Saturday</h2>
            <p>
                Most of us <del>should</del> will be suffering from party over indulgence after Friday, so to remedy, we will be 
                going for a morning dip at the beach. So come join us, we can get rid of the cobwebs together!
            </p>
            <p>
                For breakfast, we will be going to a cool little cafe called Secret Garden, 
                it's on Wilson Rd (main shopping strip). We'll be there from 11am so cruise in if you're in need of a coffee.
            </p>
            <p>
                The afternoon we will spend down on the beach, perhaps play some hurling and cricket on the beach
                in front of Coronation Park.
                On Saturday from 5-7pm we will have a BBQ/picnic at the public beachfront BBQs on Brighton Reserve 
                (between Brighton Rd and Savage Ave). BYO food, drink and picnic blanket. There are a few BBQ tables available.
            </p>
            <img src="Content/img/secret-garden.JPG" class="col-xs-12 thumbnail hidden-lg"  title="Secret Garden Restaurant, Waihi Beach."/>

            <div class="spacer-medium visible-lg thumbnail">
                <img src="Content/img/queenstown.JPG" title="Luge, Queenstown."/>
                <div class="caption">
                   Luge, Queenstown.
                </div>
            </div>
        </div><!-- .col-6 -->
        <div class="col-lg-6">
            <div class="visible-lg thumbnail">
                <img src="Content/img/secret-garden.JPG" title="Secret Garden Cafe, Waihi Beach."/>
                <div class="caption">
                    Secret Garden Cafe, Waihi Beach.
                </div>
            </div>

            <div class="spacer-medium panel panel-info">
                <h3 class="panel-heading">Activities around Waihi</h3>
                <div class="panel-body">
                    <p>
                        At the northern end of Waihi beach, there is a lovely walk through forest and up over a hill to Orokawa Bay - 
                        well worth a look. perhaps take a picnic/snacks as it is a 40min walk each way.
                    </p>
                    <p>
                        There is some hot pools down at Athenree...
                        <a href="http://www.athenreehotsprings.co.nz/athenree-hot-springs" target="_blank">more info</a>
                    </p>
                    <p>
                        If the surf's up, join us in the waves. There will be some boogie boards floating around.
                        Don't forget to swim between the flags. The Phillips lifeguards will be around but prefer to remain off-duty!
                    </p>
                    <p>
                        Mount Maunganui is about 30-40 min drive from Waihi and has cafes, beach and a mountain walk. 
                    </p>
                    <p>
                        Karangahake Gorge -  the scenic drive between Paeroa and Waihi - 
                        there are some walks through the forest / along river...
                        <a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/bay-of-plenty/tauranga/karangahake-gorge-historic-walkway/" target="target">more info</a>
                    </p>
                    <p>
                        Hahei - home of the famous Cathedral Cove and nearby Hot Water beach...
                        <a href="http://www.hahei.co.nz/" target="_blank">more info</a>
                    </p>
                    <p>
                        Ohinemuri Estate winery. Wine tasting and restaurant open 10am – 5pm...
                        <a href="http://www.ohinemuri.co.nz/" target="_blank">more info</a>
                    </p>
                    <p>
                        Hauraki rail trail - bike hire in waihi
                    </p>
                </div><!-- panel-body -->
            </div><!-- panel-info -->
        </div>
    </div><!-- row -->

    <hr />

    <div class="panel panel-default spacer-small">
                <h3 class="panel-heading">Other NZ activities and Transport info</h3>
                <div class="panel-body">
                    <p>
                        If you don't want to hire a car, there are buses from Auckland airport to Waihi Beach which run 4 times a day – 
                        check out timetable and fares at <a href="https://www.intercity.co.nz/">https://www.intercity.co.nz/</a>
                    </p>
                    <p>
                        If you're unsure what else is good to see in NZ, have a look at a few suggestions below
                        and you can also check out <a href="https://www.rankers.co.nz/">https://www.rankers.co.nz/</a><br />
                        which is based on tourist reviews of NZ  (it’s a bit like Tripadvisor) – it ranks top free activities, rental cars, campervans, campgrounds etc in NZ
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-group list-unstyled">
                                <li class="list-group-item list-group-item-heading active"><h4>North Island</h4></li>
                                <li class="list-group-item">Hahei - Cathedral Cove</li>
                                <li class="list-group-item">Hot Water Beach</li>
                                <li class="list-group-item">Mt Maunganui - walk up/around the Mount, nice beach</li>
                                <li class="list-group-item">Karangahake gorge - walks</li>
                                <li class="list-group-item">White Island - active volcano</li>
                                <li class="list-group-item">Rangitoto island (volcano walk), Kelly Tarltons aquarium, Skytower, waterfront cafes/bars. </li>
                                <li class="list-group-item">Port Waikato - Cara's bach.</li>
                                <li class="list-group-item">Bay of Islands - beautiful remote beaches.</li>
                                <li class="list-group-item">Rotorua -geysers, boiling mud, hangi, Maori show, zorb, luge, blue & green lakes, mountain biking trails</li>
                                <li class="list-group-item">Wellington - Te Papa museum (earthquake house),  cafe scene, pubs, Ferry to Days Bay, Macs brewery.</li>
                                <li class="list-group-item">Hobbiton, Matamata</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                           <ul class="list-group list-unstyled">
                                <li class="list-group-item list-group-item-heading active"><h4>South Island</h4></li>
                                <li class="list-group-item">Queenstown- bungy, skiing, jetboat, luge, kayak on lake, good pubs/nightlife, Fergberger.</li>
                                <li class="list-group-item">Arrowtown - cute goldmining village, nice walks, Autumn colours</li>
                                <li class="list-group-item">Wanaka - a more chilled out version of Queenstown.</li>
                                <li class="list-group-item">Lake Tekapo - Mt Cook - scenery & walks.</li>
                                <li class="list-group-item">Otago Peninsula - rugged cliffs/beaches, Sandfly bay (sea lions & penguins), albatross colony.</li>
                                <li class="list-group-item">West Coast - forest/wilderness, glacier walk (Fox or Franz Josef), Lake Matheson (mirror lake), Punakaiki (pancake rocks).</li>
                                <li class="list-group-item">Marlborough - Abel Tasman National Park (kaiteriteri beach)- walks/kayak, wineries.</li>
                                <li class="list-group-item">Kaikoura - whale watching.</li>
                                <li class="list-group-item">Hanmer Springs - natural hot springs next to mountains</li>
                            </ul>
                        </div>
                    </div><!-- row -->
                </div>
            </div>

            <div class="visible-xs thumbnail">
                <img src="Content/img/queenstown.JPG" title="Luge, Queenstown."/>
                <div class="caption">
                   Luge, Queenstown.
                </div>
            </div>
</section><!-- Weekend Activities -->