<style type="text/css">
    img { max-width: 100%; border: solid 15px #ccc; margin:1px; }
</style>

<section>
    <h1>Welcome</h1>
    <div class="row">
        <div class="col-lg-6">
            <p>
                We're getting married. hooray! <br />
                We put this site together, so that ye have as much information as possible.
            </p>
            <p>
                Let us know you are coming by filling in our RSVP.
            </p>
            <img src="Content/img/us-water.png" class="col-sm-12 thumbnail visible-lg  spacer-large" />
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <h2 class="panel-heading">RSVP</h2>
                <div class="panel-body" data-bind="compose: { model: 'viewmodels/rsvp', activate: true }"></div>
             </div>
        </div>
    </div>
    <div class="visible-xs thumbnail">
        <img src="Content/img/us-water.png" />
    </div>
</section><!-- home -->