
    <div class="row">
        <div class="col-xs-4">
            Wallnutt B&B<br />
            10 Wallnutt Avenue, <br />
            Waihi Beach<br />	
            <label>E: </label><a href="mailto:bjesney@xtra.co.nz">bjesney@xtra.co.nz</a><br />
            <label>T: </label><a href="07 863 5565" rel="tel">07 863 5565</a>
        </div>
        <div class="col-xs-4">
            <a href="www.tohoraview.co.nz" target="_blank">Tohora View Bed & Breakfast</a><br />
	        31 Tohora View, <br />
            Waihi Beach<br />
            <label>E: </label><a href="mailto:info@tohoraview.co.nz">info@tohoraview.co.nz</a><br />
            <label>T: </label><a href="07 863 1138" rel="tel">07 863 1138</a>
        </div>
        <div class="col-xs-4">
            <a href="www.beachfrontbandb.co.nz" target="_blank">Beach Front B & B</a><br />
	        3 Shaw Rd, <br />
            Waihi Beach <br />
            <label>E: </label><a href="mailto:mortonsbandb@xtra.co.nz">mortonsbandb@xtra.co.nz</a><br />
            <label>T: </label><a href="07 863 5393" rel="tel">07 863 5393</a>
        </div>
    </div><!-- row -->
    <div class="row spacer-large">
            <div class="col-xs-4">
            Waterfront Homestay<br />
	        17 The Esplanade, <br />
            Waihi Beach	<br />
            <label>E: </label><a href="mailto:k.morgan@xtra.co.nz">k.morgan@xtra.co.nz</a><br />
            <label>T: </label><a href="07 863 4342" rel="tel">07 863 4342</a>
        </div>
        <div class="col-xs-4">
            Seagulls Bed & Breakfast<br />
            8 West Street, Waihi Beach<br />
            <label>E: </label><a href="mailto:seagullsquinlan@clear.net.nz">seagullsquinlan@clear.net.nz</a><br />
            <label>T: </label><a href=" 07 863 4633" rel="tel"> 07 863 4633</a>
        </div>
        <div class="col-xs-4">
            <a href="www.upperdeck.co.nz" target="_blank">Upper Deck Bed and Breakfast</a><br />
            29 Seaforth Road, <br />
            Waihi Beach <br />
            <label>E: </label><a href="mailto:info@tohoraview.co.nz">info@tohoraview.co.nz</a><br />
            <label>T: </label><a href="027 488 5155" rel="tel">027 488 5155</a>
        </div>
    </div><!-- row -->
    <div class="row spacer-large">
        <div class="col-xs-4">
            Hibiscus  B&B<br />
            56 Shaw Rd, <br />
            Waihi Beach	<br />
            <label>E: </label><a href="mailto:murchclan@xtra.co.nz">murchclan@xtra.co.nz</a><br />
            <label>T: </label><a href="07 863 5141" rel="tel">07 863 5141</a><br />
        </div>
        <div class="col-xs-4"></div>
    </div><!-- row -->
                         
    <h2>Motels</h2>
    <div class="row">
        <div class="col-xs-4">
            <a href="" target="_blank">Beachaven Motel and Holiday Park</a><br />
            21 Leo Street,<br />
            Waihi Beach <br />
        </div>
        <div class="col-xs-4">        
            <a href="http://www.waihibeach.com/" target="_blank">Waihi Beach Top 10 Holiday Park</a><br />
            15 Beach Rd, <br />
            Waihi Beach
        </div>
        <div class="col-xs-4">

        </div>
    </div><!-- row -->