<p>
    Waihi Beach, New Zealand.
</p>
<p>
    Waihi Beach is located on the border of the Coromandel and Bay of Plenty regions.
    Check out <a href="http://www.waihibeachinfo.co.nz/gallery/" target="_blank">this site</a> for some cool pics of the region
</p>
<p>
    For those travelling across the ditch, the nearest airport is Auckland International. Waihi Beach is a 2 hr drive south-east of Auckland.
            The ceremony and reception location are shown on the map below.
</p>
<p class="thumbnail">
    <iframe data-bind="attr: { src: mapUrl }" src="" width="100%" height="480" class="clearfix"></iframe>
    <p>
        <a href="" target="_blank" data-bind="attr: { href: largerMapUrl }">View Larger Map</a>
    </p>
</p>
<p>
    Please note that Waihi Beach is a small coastal settlement with only a few cafes and shops. </p>
<p>
    The nearest supermarket is in Waihi Township on State Highway 2 (you would pass through here on your way from Auckland) – 
            it’s 11km west of Waihi Beach
</p>
<p class="alert alert-info">
    The turn off for Waihi Beach is 2km south of Waihi town.
</p>
