<section>
    <h1>Wedding day</h1>
    <div class="row">
        <div class="col-lg-6">
        <div class="panel panel-default">
            <h2 class="panel-heading">Ceremony <span class="pull-right icon-wedding-couple-green "></span></h2>
            <div class="panel-body">
                <p>
                    The ceremony will be on the beach infront of Leo Street. There will be an archway and a few chairs so you should be able to find it OK. If not, ask a friendly local!
                </p>
                <p>
                    Incase of terrible weather (unlikely but you never know!) we'll head straight up to the RSA and hold the ceremony there. 
                    We would have someone down at Leo St who can direct you up to the RSA if this is the case.
                </p>
                <p>
                    Following the ceremony, we'll have a few celebration drinkies on the beach and a few photos.
                </p>
               <p>
                We will head to reception at around 5:30.
                </p>
            </div>
        </div> <!-- .ceremony -->

        <div class="panel panel-default">
            <h2 class="panel-heading">Reception <span class="icon-wedding-disco pull-right"></span></h2>
            <div class="panel-body">
                <p>
                    Its approx a 10 min walk from the beach to the reception venue, and it is up quite a steep hill, 
                    so keep that in mind when you're enjoying a few beers/ wine on the beach. 
                    If you prefer to drive, there is a large carpark at the RSA, where you can leave your car overnight.
                </p>
                <p class="alert alert-info">
                    Please indicate any special dietary requirements, when you <a href="#/home">RSVP</a>. 
                    Especially those of you who particularly hate plants!
                </p>
                <p>
                    Bring your dancing shoes. The night finishes at 12am so if you want to party on, 
                    make sure you've stocked up beforehand as Waihi is a 
                    small town and unlikely that you'll find a liquor store open that late!
                </p>
                <p>
                    All accommodation on the list (see <a href="#/accommodation">Accom page</a>) is within easy walking distance, 
                    but there is also a Courtesy Bus which can drop you home for $2.
                </p>
            </div>
        </div> <!-- .Reception -->

        <p class="alert alert-info">
                <b>We want your presence not your presents.</b> <br />
                It means alot that you are coming to celebrate our special day with us. So please don't worry about gifts.
        </p>

    </div><!-- .col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <h2 class="panel-heading ">Location <span class="icon-wedding-nz pull-right"></span></h2>
            <div class="panel-body"  data-bind="compose: { model: 'viewmodels/location', activate: true }"></div>
        </div><!-- .location panel -->
                        
        <div class="panel panel-default">
            <h2 class="panel-heading">Neat casual dress <span class="pull-right icon-wedding-jandals "></span></h2>
            <div class="panel-body">
                <p>
                    Niall will be wearing jandals (I mean thongs, flip flops, sandals... feet). <br />
                    It's a beach wedding so wear something comfortable (high heels not recommended). 
                    No need to buy a new fancy dress or anything!
                </p>
                <p>The weather may not live up to our expectations, so bring a Jacket just in case</p>
            </div>
        </div><!-- .attire  -->
    </div> <!-- col-lg-6 -->
        </div>
</section><!-- Wedding Day Details -->